input, select {
    width: 2rem;
    text-align: center;
    border-radius: 0.65rem;
    margin: 0 0.25rem !important;
    color: black !important;
}

select {
  width: 6rem;
  padding: 0.125rem;
  background-color: rgba(245, 158, 11, 1);
  border: 1px solid;
}

.stride:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Since the color value is not recognized by webpack/tailwind at build time */
.bg-blue-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(59, 130, 246, var(--tw-bg-opacity));
}

.bg-yellow-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(245, 158, 11, var(--tw-bg-opacity));
}

.bg-purple-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(139, 92, 246, var(--tw-bg-opacity));
}

.bg-red-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(239, 68, 68, var(--tw-bg-opacity))
}